<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Maskan</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home'%}">Bosh oyna</a></li>
                
                
                

                
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#soonModal">
                            Mening shajaram
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">chiqish</a></li>

                    {% if user.is_staff %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'add_infodata' %}">marhumni ro'yhatdan o'tkazish </a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'qabristonmap_list' %}">qabristonlar</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'qabristonmap_create' %}">qabriston qo'shish</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'qabristonmap_image_create' %}">qabriston rasmi yuklash</a></li


                        {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'qabr_plus' %}">qabr qo'shish </a></li> {% endcomment %}
                    {% endif %}

                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Kirish</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://t.me/maskangobot" target="_blank" rel="noopener">
                            ro'yhatdan o'tish
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Tez kunda modal -->
<div class="modal fade" id="soonModal" tabindex="-1" aria-labelledby="soonModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="soonModalLabel">Mening shajaram</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Yopish"></button>
      </div>
      <div class="modal-body text-center">
        <strong>Tez kunda ishga tushadi</strong>
      </div>
    </div>
  </div>
</div>