{% extends 'base.html'%}
{% block content %}

    <header class="bg-dark text-white py-5">
        <div class="container px-4 px-lg-5">
            <div class="text-center text-uppercase">
                <h1 class="mb-4">update Password ...</h1>
                <p class="lead">Update User Password...</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-md-6 offset-mb-3">
                    <br/><br>
                    <form method="POST" actions="{% url 'update_password' %}">
                            {% csrf_token %}

                            {{ form.as_p  }}
                            <br/><br/>
                            <button type="submit" class="btn btn-secondary">update password</button>
                        
                    </form>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
                </div>
            </center>
        </div>
    </div>


{% endblock %}